What do you think of WolframMu? (This is not a chat room, don't expect a reply.)
<form action="feedback" method="post" enctype="multipart/form-data">
	<input type="text" name="feedback" />
	<input type="submit" name="Done" value="Done" />
</form>