<html>
<head><script type="text/javascript" src="apiresults.js"></script></head>
<body>
	<div>
		<mxit:advert auid="364282"/>
	</div>	
	<div>
		------
	</div>
	<br />	
	<div>
		<h1>Jobbo</h1>
		<%= yield %>
	</div>
	<br />
	<div>
		<a href="/">s</a>) New search | <a href="/feedback">f</a>) Feedback
	</div>
	<br />
	<div>
		------
	</div>
	<br />
	<div>
		<a href='mxit://[communityportal]/RecommendPage?ItemId=9502655' type="mxit/service-navigation">Click to share this app with friends! :-)</a>
	</div>
	<br />		
	<div>
		More Mxit: <a href="mxit://[communityportal:Refresh]/ReferralPage?ItemId=8215822" type="mxit/service-navigation">Add text to your photos with MemeForge!</a> | <%= @mixup_ad %>
	</div>
	<br />
	<div>
		<mxit:advert auid="401692"/>
	</div>
</body>
</html>