In what city are you looking for the job?
<form action="location" method="post" enctype="multipart/form-data">
	Location: <input type="text" name="location" />
	<input type="submit" name="Done" value="Done" />
</form>