<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <title>Broadcast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Mxit Broadcast</a>
          <!--/<div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div> .nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
    	<div class="row">
    		<div class="span6">
				<form action="/" method="post" enctype="multipart/form-data" data-validate="parsley">
					<label>Mxit app client ID</label><input type="text" name="clientid" title="Mxit app client ID" data-trigger="change" data-required="true" class="input-block-level" /><br />
					<label>Mxit app client secret</label><input type="text" name="clientsecret" title="Mxit app client secret" data-trigger="change" data-required="true" class="input-block-level"/><br />
					<label>Application name</label><input type="text" name="appname" title="Application name" data-trigger="change" data-required="true" class="input-block-level"/><br />
					<label>Recipients Mxit IDs (comma delimeted)</label><textarea type="text" name="recipientids" title="Recipients Mxit IDs (comma delimeted)" data-trigger="change" data-required="true" class="input-block-level"></textarea><br />
					<label>Message to send</label><textarea type="text" name="message" title="Message to send" data-trigger="change" data-required="true" class="input-block-level" data-maxlength="1000"></textarea><br />
					<!--<input class="btn" type="submit" name="Done" />-->
					<button type="submit" class="btn btn-primary">Send</button>
				</form>
			</div>
		</div>


    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="parsley.js"></script>


</body></html>